/* styling for the promo section*/

.promo-section {
   margin:4% 0% !important;
    width: 100%;
    height: 50vh !important;
    background-image: url('../img/login.jpg') !important;
   background-position: 100% !important;
   background-size: cover !important;
}
.promo_text{
   color: rgba(255, 255, 255, 0.89) !important; 
   height: 100% !important;
   width: 100%;
   font-weight: bold !important;
   display: flex !important;
   flex-direction: column !important;
   justify-content: center !important;
   background: linear-gradient(to top, #000000b9 20%,#0c0c0c71 80%) !important;
}
.promo_text a{
   color: inherit !important;
   text-decoration: none !important;
}
.promo_text div{
   font-size: 25px !important;
   font-weight: 500 !important;
   display: inline !important;
   border: 2px solid white !important;
   padding: 10px 20px !important;
   transition: 0.7s ease !important;
}

.promo_text div:hover{
   color: #000000 !important;
   background-color: white !important;
}
